@use '../abstracts' as *;

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-8) var(--space-20);
  font-family: var(--font-secondary);
  font-size: var(--fs-16);
  text-transform: uppercase;
  color: var(--color-text);
  background-color: transparent;
  border: 1px solid var(--color-border);
  transition:
    color var(--transition-base),
    border-color var(--transition-base);

  &:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
  }

  &--active {
    color: var(--color-accent);
    border-color: var(--color-accent);
  }
}
