@use '../abstracts' as *;

.promo__inner {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: var(--space-40);
  align-items: center;
}

.promo__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.promo__title {
  font-family: var(--font-secondary);
  font-size: var(--fs-40);
  text-transform: uppercase;
  color: var(--color-text);
}

.promo__subtitle {
  --promo-subtitle-w: 320px;

  margin-block-start: var(--space-12);
  max-width: var(--promo-subtitle-w);
  font-size: var(--fs-16);
  line-height: 1.4;
  color: var(--color-text-secondary);
}

.promo__btn {
  margin-block-start: var(--space-32);
  min-width: min(220px, 100%);
}

.promo__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-4);
}

.promo__mobile-title {
  display: none;
}

@include respond-to('mobile') {
  .promo__text {
    display: none;
  }

  .promo__inner {
    grid-template-columns: 1fr;
    gap: var(--space-32);
  }

  .promo__mobile-title {
    display: block;
    width: fit-content;
    margin-block-end: var(--space-16);
    font-family: var(--font-secondary);
    font-size: var(--fs-16);
    text-transform: uppercase;
    color: var(--color-text);
  }

  .promo__grid {
    margin-inline: calc(2px - var(--container-gutter));
    gap: 2px;
  }

  .promo__grid .tile {
    --tile-ratio: 3 / 5;
  }
}
