@use '../abstracts' as *;

.category-bar {
  display: none;

  @include respond-to('tablet') {
    display: block;
  }

  &__inner {
    display: flex;
    gap: var(--space-8);
    padding-block: var(--space-8);
  }

  &__item {
    flex: 1;
  }
}
